@import url("font.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f3f7fa;
    background: linear-gradient(to bottom, 
    white 0px, 
    white 400px, 
    #EFF5FB 400px, 
    #EFF5FB 1070px, 
    white 1300px, 
    white 100%);
    /* to bottom - градиент сверху вниз */
    /* #F8F9FA - светлый цвет вверху */
    /* #DEE3E7 - серый оттенок внизу */
    min-height: 100vh; /* Чтобы градиент заполнял всю страницу */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 300px; /* Подняли линию */
    left: 0;
    width: 100%;
    height: 100px; /* Высота арки */
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 100'><path fill='%23EFF5FB' d='M0,90 C300,50 1140,50 1440,90 L1440,100 L0,100Z'></path></svg>") no-repeat bottom center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

/* Header */
.header {
    display: flex;
    min-height: 76px;
    /* padding: 14px;*/
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #EFF5FB;
}

.header__container {
    width: 83%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list{
    padding: 0 1.8vw 0 3.6vw;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.8vw;
}

.header__link{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 14px; /* Межстрочное расстояние */
    letter-spacing: 0.25px;
    transition: color 0.3s;
}

.header__link:hover {
    color: #16C8BB; /* Цвет при наведении */
}

.header_btn{
    width: 230px;
    min-height: 48px;
    flex: 0 0 230px;
    border: none;
    border-radius: 5px;
    background-color: #E3F5F5;
    color: #03B2A5;
    font-size: 16px;
    font-family: 'Montserrat-Bold', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header_btn:hover {
    background-color: rgb(22, 200, 187, 0.2); /* Цвет при наведении */
}

/* Бургер скрываем на десктопе */
.header__burger {
    display: none;
    cursor: pointer;
}

/* Header */

.main {
    width: 83%;
    margin: 0 auto;
}

/* Nav */
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.7); 
    margin: 16px 0 30px 0;
    letter-spacing: 0.25px;
    line-height: 18px;
    white-space: nowrap;
}

.breadcrumb__home {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
    transition: color 0.3s;
}

.breadcrumb__home:hover {
    color: #000000; /* Темнее при наведении */
}
/* Nav */

/* Tags */
.blog__title {
    margin-top: 30px;
    color: #333333;
    font-size: 48px;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 56px;
}
.blog__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 0 24px 0;
}
.blog__tag {
    border: #C1C5CD solid 1px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 24px;
    padding: 6px 8px;    
    cursor: pointer;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: border 0.3s;
}
.blog__tag:hover {
    border: #16C8BB solid 1px; /* Увеличиваем границу при наведении */
  }
/* Tags */

/* Карточка */
.card__grid-two-columns { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 0 0 24px 0;
}

.card__grid-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 0 24px 0;
}

.card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;    
}

.card:hover {
    transform: scale(1.01);
}

.card-link-article{
    text-decoration: none;
}

.card-image {
    width: 100%;
    /*display: block;*/
    
}

.card__tags {
    display: flex;
    flex-direction: column; /* Располагаем теги вертикально */
    align-items: flex-start; /* Выравниваем их по левому краю */
    gap: 5px; /* Делаем небольшой отступ между тегами */
    position: absolute;
    top: 8px;
    left: 8px;
}

.card-content {
    padding: 16px;
    padding-bottom: 40px; /* Увеличиваем отступ, чтобы оставить место для даты */
    position: relative;    
}

.card-title {
    margin: 0;
    font-size: 18px;
    color: #333333;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 26px; /* Межстрочное расстояние */
    letter-spacing: 0.3px;
    margin: 0;
}

.card-author {
    font-size: 12px;
    color: #494949;
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 18px; /* Межстрочное расстояние */
    letter-spacing: 0.25px;
    margin: 4px auto 8px;
}

.card-description {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 20px; /* Межстрочное расстояние */
    margin: 0 auto 24px;
}

.card-footer {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.card-date {
    font-size: 12px;
    color: #868686;
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 18px; /* Межстрочное расстояние */
    letter-spacing: 0.25px;
    margin: 0;
}
/* Кнопка внизу */
.blog__btn-load-more {
    display: block;
    margin: 56px auto 96px;
    width: 182px;
    min-height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #35B3A9;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat-Bold', sans-serif;
    letter-spacing: 0.25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blog__btn-load-more:hover {
    background-color: rgb(48, 161, 152); /* Цвет при наведении */
}

/* Кнопка внизу */


/* Footer */
.footer {
    background-color: #2963A3; /* Синий цвет */
    color: white;
    font-size: 16px;
    font-family: 'Montserrat-Bold', sans-serif;
    padding: 40px 0px 17px;
}

.footer__container {
    width: 83%;
    margin: 0 auto;   
    display: flex;
    justify-content: space-between; /* Колонки равномерно распределены */
    margin-bottom: 24px;
}

.footer__container > :nth-child(2n) {
    justify-self: start; /* Выравниваем только 2-й столбец влево */
}

.footer__container > :nth-child(3n) {
    justify-self: end; /* Выравниваем только 3-й столбец вправо */
}

/* Footer Menu */
.footer__menu {
    display: flex;
    justify-content: space-between; /* Колонки равномерно распределены */
    gap: 93px; /* Отступ между колонками */
}

.footer__column {
    flex: 1; /* Обе колонки занимают равное пространство */
    min-width: 111px; /* Минимальная ширина для адаптивности */
}

.footer__column ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column ul li {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 24px;
}

.footer__column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__column ul li a:hover {
    color: #16C8BB; /* Цвет при наведении */
}
/* Footer Menu */

/* Footer Форма подписки */

.footer__subscribe-container {
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.footer__subscribe-title {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 26px; /* Межстрочное расстояние */
    margin-bottom: 8px;
    
}


.footer__subscribe p {
    margin: 0;
}

.footer__subscribe-form {
    display: flex;
    justify-content: flex-start;
    width: 384px;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1fr;
    background: white;
    border-radius: 6px;
    border: none;
    overflow: hidden;
    margin: 8px 0px;
}

.subscribe-input {
    flex: 1;
    height: 48px;
    border: none;
    padding-left: 16px; /* Отступ слева */
    padding-right: 65px; /* Оставляем место для кнопки */
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #9D9D9D;
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 20px; /* Межстрочное расстояние */
    
    
}


.subscribe-button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 48px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    position: relative;
    left: 1px; /* Смещаем кнопку влево */
}

.subscribe-button svg {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__subscribe-text {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 18px; /* Межстрочное расстояние */
    letter-spacing: 0.25px;
    opacity: 0.7;    
    width: 486px;
}
/* Footer Форма подписки */

/* Footer Соцсети */
.footer__social {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    gap: 20px;
    min-width: 221px;
}

.footer__partner {
    display: flex;        
    gap: 8px;
    margin-bottom: 15px;
}

.footer__icons {
    display: flex;
    gap: 15px;
}

.footer__icons img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
}

.footer__icons img:hover {
    opacity: 0.7;
}
/* Footer Соцсети */

.footer__bottom {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px solid rgba(157, 157, 157, 0.3);    
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 20px;
    opacity: 0.7;      
}

.footer__bottom p {
    margin: 0;
}

.footer__bottom a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__bottom a:hover {
    color: #16C8BB;
}

/* Footer */


@media screen and (max-width: 1200px) {
    .header__container,
    .main,
    .footer__container,
    .footer__bottom {
        width: 95%; /* Немного увеличиваем ширину контейнеров для планшетов */
    }
/*
    .header__list {
        gap: 16px;  Уменьшаем отступы между пунктами меню 
    }
*/
    .blog__title {
        font-size: 48px; /* Уменьшаем заголовок */
        line-height: 56px;
    }

    .card__grid-two-columns {
        grid-template-columns: repeat(2, 1fr); /* Переключаем сетку в одну колонку */
    }

    .card-content {
        padding-bottom: 30px; /* Увеличиваем отступ, чтобы оставить место для даты */
    }

    .card-description {        
        margin: 0 auto 14px;
    }
  
    .blog__btn-load-more {
        margin: 35px auto 60px;        
    }

    .footer__subscribe-text {
        width: 450px;
    }
    
}

@media screen and (max-width: 1023px) {
    /* Скрываем пункты меню */
    .header__list,
    .header_btn {
        display: none;
    }

    /* Показываем бургер-иконку */
    .header__burger {
        display: block;
    }

    /* Карточки теперь в один столбец */
    .card__grid-two-columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__grid-three-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__btn-load-more {
        margin: 33px auto 55px;        
    }

    .footer__container {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
    }

    .footer__subscribe-text {
        width: 384px;
    }
}

@media screen and (max-width: 473px) {
    .header__container,
    .main,
    .footer__container,
    .footer__subscribe-text,
    .footer__bottom {
        width: 91%; /* Немного увеличиваем ширину контейнеров для планшетов */
    }

    .blog__tags {
        display: flex;
        flex-wrap: nowrap;      /* Запрещаем перенос элементов на новую строку */
        overflow-x: auto;       /* Включаем горизонтальную прокрутку */
        gap: 10px;              /* Отступы между тегами (опционально) */
        scrollbar-width: none;  /* Скрыть скроллбар в Firefox */
      }
      
      .blog__tags::-webkit-scrollbar {
        display: none;          /* Скрыть скроллбар в Chrome, Safari, Opera */
      }
      
      .blog__tag {
        white-space: nowrap;    /* Запрещаем перенос текста внутри тега */
        flex-shrink: 0;         /* Не даем тегу сжиматься */
    }

    .card__grid-three-columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__grid-three-columns .card:nth-child(n+3) {
        display: none;
    }

    .blog__btn-load-more {
        margin: 28px auto 59px;        
    }

    .footer__subscribe-form {
        width: 100%;
    }

    .footer__subscribe-text{
        width: 375px;
    }

    
    .footer__subscribe-container {
        width: 375px;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

@media screen and (max-width: 413px) {
    
    .footer__subscribe-container, /*нужно, без него footer__subscribe-title вылетает за экран*/
    .footer__subscribe-text {
        width: 90%;
    }

    .footer__subscribe-form {
        width: 288px;
    }

    .footer__subscribe-text {
        width: 288px;
        display: flex;
        text-align: justify;
    }
  }